.menu
  position absolute
  opacity 0
  right 3.6%
  top 5.8%
  z-index 1
  ul
    margin 0
    padding 0
    li
      color #ffffff
      cursor pointer
      display inline-block
      font-family fira-light
      font-size 1.7rem
      letter-spacing 0.1rem
      margin-right 35px
      &:last-child
        margin-right 0
