@charset 'UTF-8'

@import 'common/normalize'

@font-face
  font-family fira-light
  font-style light
  src url(/fonts/firasans-light-webfont.ttf) format('truetype'),
      url(/fonts/firasans-light-webfont.eot),
      url(/fonts/firasans-light-webfont.eot?#iefix) format('embedded-opentype'),
      url(/fonts/firasans-light-webfont.woff) format('woff'),
      url(/fonts/firasans-light-webfont.woff2) format('woff2'),
      url(/fonts/firasans-light-webfont.svg#fira_sanslight) format('svg');

@font-face
  font-family fira-regular
  font-style regular
  src url(/fonts/firasans-regular-webfont.ttf) format('truetype'),
      url(/fonts/firasans-regular-webfont.eot),
      url(/fonts/firasans-regular-webfont.eot?#iefix) format('embedded-opentype'),
      url(/fonts/firasans-regular-webfont.woff) format('woff'),
      url(/fonts/firasans-regular-webfont.woff2) format('woff2'),
      url(/fonts/firasans-regular-webfont.svg#fira_sansregular) format('svg');

@font-face
  font-family fira-bold
  font-style bold
  src url(/fonts/firasans-bold-webfont.ttf) format('truetype'),
      url(/fonts/firasans-bold-webfont.eot),
      url(/fonts/firasans-bold-webfont.eot?#iefix) format('embedded-opentype'),
      url(/fonts/firasans-bold-webfont.woff) format('woff'),
      url(/fonts/firasans-bold-webfont.woff2) format('woff2'),
      url(/fonts/firasans-bold-webfont.svg#fira_sansbold) format('svg');

@font-face
  font-family majesti-medium
  font-style medium
  src url(/fonts/majesti-banner-medium-webfont.ttf) format('truetype'),
      url(/fonts/majesti-banner-medium-webfont.eot),
      url(/fonts/majesti-banner-medium-webfont.eot?#iefix) format('embedded-opentype'),
      url(/fonts/majesti-banner-medium-webfont.woff) format('woff'),
      url(/fonts/majesti-banner-medium-webfont.woff2) format('woff2'),
      url(/fonts/majesti-banner-medium-webfont.svg#majesti_bannermedium) format('svg');

@font-face
  font-family majesti-italic
  font-style italic
  src url(/fonts/majesti-banner-mediumitalic-webfont.ttf) format('truetype'),
      url(/fonts/majesti-banner-mediumitalic-webfont.eot),
      url(/fonts/majesti-banner-mediumitalic-webfont.eot?#iefix) format('embedded-opentype'),
      url(/fonts/majesti-banner-mediumitalic-webfont.woff) format('woff'),
      url(/fonts/majesti-banner-mediumitalic-webfont.woff2) format('woff2'),
      url(/fonts/majesti-banner-mediumitalic-webfont.svg#majesti_bannermedium_italic) format('svg');

html, body
  background #000000
  font-size 62.5%

h1, h2, h3
  font-family majesti-medium

p, a
  font-family fira-regular
